<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Game List</title>
</head>
<body>
	<h1>Welcome</h1>
	<br>
	<h3>Game List</h3>
	<br />
	
	<table border="1">
	
		<tr>
			<th>Game Title</th>
			<th>MSRP</th>
			<th>Platform</th>
			<th></th>
		</tr>
		<tr th:each="game : ${gameList}">
			<td th:text="${game.title}" />
			<td th:text="${game.msrp}" />
			<td th:text="${#strings.listJoin(game.platforms.![platformName],', ')}" />
		   <td><a th:href="@{/addtoLibrary(gameId=${game.gameId})}">Add to Library</a></td>

		</tr>
	</table>




</body>
</html>